extends layout

block content
    img(src='/img/spider.png', style='position:fixed; bottom:0; right:0;')
    div.container
        div.row
            div.col-md-12
                div.page-header
                    div.pull-right
                        button(type='button', data-loading-text='Collecting news, please wait...').btn.btn-primary.btn-lg#collect-btn Collect news
                    h1 News Spider
                        small &nbsp; by Artem Sholokhov
                    div.clearfix
            div.col-md-9
                div.js-news-block
                    include newsblock