if data
    div.media
        each news in data
            if news.title != ''
                a(href="#").pull-left
                    img(src="/img/original.png", width='64', height='64').media-object
                div.media-body
                    h4.media-heading #{news.title}
                    p #{news.announce}
                    ol.breadcrumb
                        li Source: #{news.source} // #{news.date}

                    if news.similary
                        div.media
                            each sim in news.similary
                                if sim.title != ''
                                    a(href="#").pull-left
                                        img(src="/img/copy.png", width='64', height='64').media-object
                                    div.media-body
                                        h4.media-heading #{sim.title}
                                        p #{sim.announce}
                                        ol.breadcrumb
                                            li Источник: #{sim.source} // #{sim.date}

    div.page-header
        h1 Other news &nbsp;
            small different sources, aggregation failed :(
    div.media
        each news in uniq
            if news.title != ''
                a(href="#").pull-left
                    img(src="/img/original.png", width='64', height='64').media-object
                div.media-body
                    h4.media-heading #{news.title}
                    p #{news.announce}
                    ol.breadcrumb
                        li Источник: #{news.source} // #{news.date}
    br
else
    h3 Start collecting news by clicking button.